@import 'variables.scss';

.repo-table {
  &__content {
    @include flex(1);
    overflow: auto;
  }
  &__footer {
    text-align:center;
    padding: $dimension_aurea 0;
    border-top: $dimension_base/4 solid $tenue_borde;
  }
}
