@import 'variables';

nav {
  &[role="navigation"] {
    button,
    li {
      display: inline-block;
    }
  }
  ul {
    li {
      list-style: none;
      a {
        display: inline-block;
        text-align: center;
        color: inherit;
        text-decoration: none;
        min-width: $dimension_aurea*5.5;
        line-height: 40px;
        border: 0;
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 0.2px;
        font-weight: 600;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
