@import "variables";

.repo-list {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  ul {
    @include flex(1);
    @include flexbox();
    @include flex-direction(column);
    text-align: center;
    overflow: auto;
    li {
      transition: .4s;
      padding: $dimension_aurea;
      display: inline-block;
      a {
        display: inline-block;
        text-decoration: none;
        color: $texto;
        &:hover {
          transition: $duracion_aurea;
          color: $tenue_texto;
        }
      }
    }
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    padding: $dimension_aurea;
    text-align: center;
    color: $tenue_texto;
    font-weight: 300;
  }
  .upload-button {
    text-align: center;
    padding: $dimension_aurea 0;
    border-top: $dimension_base/2 solid $tenue_borde;
  }
}
