@import "variables";

button {
  &.btn {
    border: 0;

    &__button {
      min-width: $dimension_aurea*5.5;
      line-height: $dimension_aurea*2.5;
      padding: 0 $dimension_aurea;
      border: 0;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.2px;
      font-weight: 600;
      outline: none;
      cursor: pointer;

      & + button {
        margin-left: $dimension_base;
      }

      span {
        pointer-events: none;
      }

      &:hover {

      }

      &--primary,
      &--error,
      &--warn,
      &--success {
        &:hover {

        }

        &--reverse {
          background: transparent;

          &:hover {

          }
        }
      }

      &--primary {
        background: $primary_color;
        color: $base_color;

        &--reverse {
          color: $primary_color;
        }

        &:hover {
          background: darken($primary_color, 10%);
        }
      }

      &--warn {
        background: $warning_color;
        color: $error_color;

        &--reverse {
          color: $warning_color;
        }

        &:hover {
          background: darken($warning_color, 3%);
        }
      }

      &--error {
        background: $error_color;
        color: $base_color;

        &--reverse {
          color: $error_color;
        }

        &:hover {
          background: darken($error_color, 10%);
        }
      }

      &--success {
        background: $success_color;
        color: $base_color;

        &--reverse {
          color: $success_color;
        }

        &:hover {
          background: darken($success_color, 10%);
        }
      }

      &--full {
        display: block;
        width: 100%;
        margin: 8px 0;
      }

      &--relieve {
        display: block;
        width: 100%;
        margin: 8px 0;
      }
    }

    &__iconico {
      background: transparent;
      border: 0;
      min-height: 48px;
      min-width: 48px;

      svg {
        vertical-align: middle;
        pointer-events: none;
      }

      &--inline {
        white-space: nowrap;

        span {
          margin-left: $dimension_base;
        }
      }

      &--textual {
        span {
          display: inline-block;
          width: 100%;
          text-transform: uppercase;
          font-size: 0.7em;
          letter-spacing: 0.2px;
        }
      }

      &::-moz-focus-inner {
        border: 0;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
