@import 'variables';

$header_height: $dimension_base*7;

header {
  &[role="banner"] {
    background: $primary_color;
    color: $base_color;
    min-height: $header_height;
    line-height: $header_height;
    padding-right: $dimension_aurea;
    @include flexbox();
    @include flex-direction();
    nav {
      &:last-of-type {
        @include order(3);
      }
      .btn__button {
        background: transparent;
      }
    }
    h1 {
      font-size: 1.5rem;
      margin: 0;
      padding-left: $dimension_aurea;
      @include flex(1);
    }
  }
}
