@import 'variables.scss';

table {
  width: 200%;
  thead {
    tr {
      th {
        padding: $dimension_aurea 0;
        border-bottom: 1px solid $tenue_borde;
        border-right: 1px solid $tenue_borde;
      }
    }
  }
  tbody {
    tr {
      td {
        padding-top: $dimension_aurea;
        select {
          border: 0;
          background: transparent;
        }
      }
    }
  }
}
