$primary: #e65436;
$primary_color: #e65436;
$contrast_color: rgba(0, 0, 0, 0.76);
$base_color: #FFF;
$warning_color: gold;
$error_color: tomato;
$success_color: green;
$texto: rgba(0, 0, 0, 0.76);

$font_sans: 'Ubuntu', 'Lato', sans-serif;

$dimension_base: 8px;
$dimension_aurea: $dimension_base*2;

$duracion_aurea: 0.4s;

$tenue_texto: rgba(0, 0, 0, 0.56);
$tenue_texto2: rgba(0, 0, 0, 0.36);
$tenue_borde: rgba(0, 0, 0, 0.1);
$tenue_borde2: rgba(0, 0, 0, 0.056);

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {

	$fg-boxflex: $fg;

	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
	}

	-webkit-box-flex: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg-boxflex;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}
