@import "variables";

html,
body,
#root,
.page {
  width: 100%;
  height: 100%;
}

body {
  background: $base_color;
  font-family: $font_sans;
  box-sizing: border-box;
}

.page {
  @include flexbox();
  @include flex-direction(column);
  overflow: hidden;
}

* {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}
